# Python cache
__pycache__/
*.py[cod]

# Model weights
*.pth
*.pt

# Data
/data/raw/
/data/processed/

# Local configurations
configs/*_local.yaml

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Test cache
.pytest_cache/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/